# PostgreSQL
POSTGRES_USER=amoon
POSTGRES_DB=amoon
POSTGRES_PASSWORD=22c2ab8bd1e40364e3b08d22ee0468a0536d426c9a912340d69469f6094e25b4

# Medusa security
JWT_SECRET=e8c241d20841269af4492678f7a6bbd3efd19d3802052b23ad6e18aabeb199d5
COOKIE_SECRET=82ec2d437936b05e76ee8a20ee5455c008c0983b355e83a0f750d6da1ec9d0ca

# Public URLs
STOREFRONT_URL=https://amoon.shineoratech.com
MEDUSA_BACKEND_URL=https://api-amoon.shineoratech.com

# CORS
STORE_CORS=https://amoon.shineoratech.com
ADMIN_CORS=https://api-amoon.shineoratech.com
AUTH_CORS=https://amoon.shineoratech.com,https://api-amoon.shineoratech.com

# Medusa storefront configuration
MEDUSA_PUBLISHABLE_KEY=
MEDUSA_REGION_ID=
MEDUSA_SALES_CHANNEL_ID=

# Storefront security
CART_COOKIE_SECRET=5961ec710c6154d08e49ab2a1cba2dd2eb28d27b3e909cc4688250ca8e85a25d

# Optional settings
PRODUCT_IMAGE_ORIGINS=https://api-amoon.shineoratech.com
WHATSAPP_NUMBER=0600000000
HOMEPAGE_DEMO=false
NEWSLETTER_SUBSCRIBE_URL=
NEWSLETTER_API_TOKEN=


